.venv

.env

.venv/
venv/
env/

__pycache__/
*.py[cod]
*$py.class
build/
dist/
wheels/
*.egg-info

.ruff_cache/
.pytest_cache/

celerybeat-schedule
celerybeat.pid

.vscode/
.idea/

.DS_Store
Thumbs.db